/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f3ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    width: 100%;
}

/* Logo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
}

/* Left Section - Image */
main img {
    width: 50%;
}

.title {
    margin-bottom: 40px;
}

/* Right Section - Form */
form {
    width: 100%;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

form div p {
    margin-bottom: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-size: 16px;
    color: #666;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4A593D;
    color: #F4BF77;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #374830;
}

a {
    color: #4A593D;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}


div {
    margin-bottom: 20px;
}

p a {
    color: #826644;
}


.sign-up p {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: red;
}
.success-message {
    color: green;
}
