@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer {
    padding: 40px 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.footer-logo-img {
    width: 200px;
    margin-right: 10px;
    object-fit: contain;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 80px;
}

.footer-nav-section {
    margin-right: 40px;
}

.footer-nav-section ul {
    list-style: none;
    padding: 0;
}

.footer-nav-section ul li {
    margin: 16px 0;
}

.footer-nav-section ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.2s ease;
}

.footer-nav-section ul li a:hover {
    color: #aaaaaa;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #666;
}

@media (max-width: 500px) {
    .footer {
        margin-top: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo img {
        margin: 0;
    }

    .footer-logo {
        margin: 0;
        margin-bottom: 10px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .footer-nav-section {
        margin: 0;
    }

    .footer-nav-section ul li {
        margin: 10px 0;
    }

    .footer-nav-section ul li a {
        font-size: 13px;
    }

    .footer-bottom {
        margin-top: 20px;
    }
}