.footer {
    padding: 40px 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.footer-logo-img {
    width: 200px;
    margin-right: 10px;
    object-fit: contain;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 80px;
}

.footer-nav-section {
    margin-right: 40px;
}

.footer-nav-section ul {
    list-style: none;
    padding: 0;
}

.footer-nav-section ul li {
    margin: 16px 0;
}

.footer-nav-section ul li a:hover {
    color: #aaaaaa;
}

.footer-nav-section ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #666;
}