.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDE6D3;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 50px;
    margin-right: 10px;
    object-fit: contain;
}

/* Navbar Right Section */
.navbar-right {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.navbar-right a {
    text-decoration: none;
    color: inherit;
}

.nav-item.selected .nav-link {
    position: relative;
}

.nav-item.selected::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background-color: #3A4A3F;
    border-radius: 4px;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    object-fit: contain;
}

.nav-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #3A4A3F;;
    transition: color 0.3s ease;
}

.nav-item-link:hover {
    .nav-link {
        color: #838987;
    }
}

/* Profile Section */
.nav-profile-section {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-weight: 600;
    color: #3A4A3F;
}

/* Profile Picture */
.nav-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Profile Name */
.nav-profile-name {
    margin-right: 5px;
}

/* Dropdown Arrow */
.dropdown-arrow {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 10px;
    cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: white;
    border: 1px solid #C7CCD9;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Dropdown Items */
.dropdown-item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #3A4A3F;
    font-size: 14px;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #F1F1F1;
    border-radius: 4px;
}

/* Login button */
.hide {
    display: none;
}

.nav-login-section {
    margin-left: 20px;
    color: white;
}

.login-button {
    padding: 10px 15px;
    background-color: #3A4A3F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2F3633;
}