@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FBF6EF;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* back */
.back-arrow {
    display: flex;
    justify-content: start;
    width: 60%;
    margin-bottom: 20px;
}

.back-arrow a {
    text-decoration: none;
    color: #3A4A3F;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.back-arrow img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.back-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Job Card Styling */
.job-card {
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    width: 60%;
    font-family: 'Poppins', sans-serif;
}

/* Job Header (Company Info and View Button) */
.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Company Info Section */
.company-info {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.company-details h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #3A4A3F;
}

.company-details p {
    font-size: 16px;
    color: #7A7A7A;
}

/* Job Details Section */
.job-details h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #3A4A3F;
}

.job-meta {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.job-meta p {
    font-size: 14px;
    color: #7A7A7A;
    display: flex;
    align-items: center;
}

.job-meta img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    object-fit: contain;
}

.job-details p {
    font-size: 16px;
}

/* Job Image Section */
.job-image {
    margin-top: 15px;
    border-radius: 4px;
    overflow: hidden;
}

.job-image img {
    max-width: 100%;
    border-radius: 4px;
    object-fit: contain;
}

.apply-button {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.application {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
    gap: 20px;
}

.file a {
    text-decoration: none;
    color: #826644;
    font-size: 16px;
    font-weight: 500;
    margin-left: 6px;
    font-style: italic;
}

button {
    padding: 10px 40px;
    font-size: 18px;
    border-color: transparent;
    background-color: #3A4A3F;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}

button:hover {
    background-color: #586f5f;
}